<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>少女系列</string>
		<key>arry</key>
		<array>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle0.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle1.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle2.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle3.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle4.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle5.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle6.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle7.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle8.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle9.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle10.png</string>
			<string>http://stickers.afunnyapp.com/2018ShaoNvStyle/2018ShaoNvStyle11.png</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>欢乐泡泡</string>
		<key>arry</key>
		<array>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles0.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles1.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles2.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles3.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles4.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles5.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles6.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles7.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles8.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles9.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles10.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles11.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles12.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles13.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles14.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles15.png</string>
			<string>http://stickers.afunnyapp.com/SuperQBubbles/SuperQBubbles16.png</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色浪漫</string>
		<key>arry</key>
		<array>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack0.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack1.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack2.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack3.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack4.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack5.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack6.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack7.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack8.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack9.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack10.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack11.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack12.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack13.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack14.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack15.png</string>
			<string>http://stickers.afunnyapp.com/FGBlack/FGBlack16.png</string>
		</array>
	</dict>
</array>
</plist>
